<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-search-plus"></span>
                    <h5>Alt på ett sted</h5>
                    <h4><a href="#feature" class="title-head">Ditt Alt-i-ett Sted for Å Finne Ditt Drømmehjem</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Søk etter hjem<span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-user-o"></span>
                    <h5>Koble til en megler</h5>
                    <h4><a href="#feature" class="title-head">Bestill en Gratis og Uforpliktende Avtale</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Finn en megler <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow text-left">
                    <span class="fa fa-home"></span>
                    <h5>Få en hjemmevurdering</h5>
                    <h4><a href="#feature" class="title-head">Forstå Verdien av Eiendommen Din</a></h4>
                    <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor in orci.</p>
                    <a href="#more" class="more">Send informasjon <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>
