<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-4 col-md-6 grids-feature">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Kjøp en bolig</a></h4>
                    <p>Eiendomshavn er din partner når det gjelder bolig. 
                        Vi tilbyr et bredt spekter av eiendommer, enten du ønsker å 
                        kjøpe eller leie. Vårt dedikerte team hjelper deg med 
                        å finne den perfekte boligen som passer dine behov og budsjett.</p>
                    <a href="/About/Index" class="more">Les Mer <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-home"></span>
                    <h4><a href="#feature" class="title-head">Lei en bolig</a></h4>
                    <p>Vi forstår at valg av bolig er en viktig beslutning. 
                        Med vår ekspertise og inngående kunnskap om eiendomsmarkedet, 
                        kan du være trygg på at du tar den riktige beslutningen 
                        for deg og din familie.</p>
                    <a href="/About/Index" class="more">Les Mer <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-4">
                <div class="area-box no-box-shadow">
                    <span class="fa fa-building-o"></span>
                    <h4><a href="#feature" class="title-head">Se nabolagene</a></h4>
                    <p>Utforsk vårt utvalg av leiligheter, hus og hytter. 
                        Uansett om du leter etter et nytt hjem 
                        eller en investeringsmulighet, er vi her for å 
                        veilede deg gjennom hele prosessen. La oss 
                        hjelpe deg med å finne drømmeboligen din.</p>
                    <a href="/About/Index" class="more">Les Mer <span class="fa fa-long-arrow-right"></span> </a>
                </div>
            </div>
        </div>
    </div>
</section>

