<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_HeaderPartial.cshtml")
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_SidebarPage.cshtml")
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_NavbarPage.cshtml")
        <!-- Navbar End -->

        @RenderBody()

        <!-- Footer Start -->
        @await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_FooterPage.cshtml")
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
@await Html.PartialAsync("/Areas/Admin/Views/AdminLayoutPartial/_ScriptsPage.cshtml")
</body>

</html>