<div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/Default/Index" class="navbar-brand mx-4 mb-3">
                <img style="height: 90px; width: 150px;" src="~/evh3.png" class="img-fluid radius-image" alt="image">
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="~/dashmin-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0">Eindomhavn</h6>
                    <span>Admin</span>
                </div>
            </div>
           <div class="navbar-nav w-100">
               <a href="/Admin/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
               <div class="nav-item dropdown">
                   <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Elementer</a>
                   <div class="dropdown-menu bg-transparent border-0">
                       <a href="~/dashmin-1.0.0/button.html" class="dropdown-item">Knapper</a>
                       <a href="~/dashmin-1.0.0/typography.html" class="dropdown-item">Typografi</a>
                       <a href="~/dashmin-1.0.0/element.html" class="dropdown-item">Andre Elementer</a>
                   </div>
               </div>
               <a href="/Admin/Product/Index" class="nav-item nav-link"><i class="fa fa-cube"></i> Produkt</a>
               <a href="/Admin/ProductDetails/Index" class="nav-item nav-link"><i class="fa fa-info"></i>ProduktDetaljer</a>
               <a href="/Admin/Employee/Index" class="nav-item nav-link"><i class="fa fa-user"></i> Ansatt</a>
               <a href="/Admin/Category/Index" class="nav-item nav-link"><i class="fa fa-folder"></i> Kategori</a>
               <a href="~/dashmin-1.0.0/widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i> Widgeter</a>
               <a href="/Admin/Newsletter/Index" class="nav-item nav-link"><i class="fa fa-info-circle"></i> Nyhetsbrev</a>
               <a href="/Admin/Contact/Index" class="nav-item nav-link"><i class="fa fa-envelope-open"></i> Kontakt</a>
               <a href="/Admin/Chart/Index2" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i> Diagrammer</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Sider</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="~/dashmin-1.0.0/signin.html" class="dropdown-item">Logg Inn</a>
                        <a href="~/dashmin-1.0.0/signup.html" class="dropdown-item">Registrer</a>
                        <a href="~/dashmin-1.0.0/404.html" class="dropdown-item">404 Feil</a>
                        <a href="~/dashmin-1.0.0/blank.html" class="dropdown-item active">Tom Side</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

