@model web.DTOs.ApplicationUserDto.RegisterUserDto

@{
    ViewBag.Title = "title";
    Layout = "_DefaultLayout";
}

 <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/Default/Index" class="">
                                <h3 class="text-primary"><i class="fa fa-home"></i> Eindomshavn</h3>
                            </a>
                            <h3>Sign Up</h3>
                        </div>
                        <form asp-controller="RegisterUser" asp-action="RegisterUser" asp-area="" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" asp-for="Email" id="floatingInput" placeholder="name@example.com">
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" asp-for="Password"  id="password" placeholder="Password">
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="form-floating mb-4">
                                <label>@ViewBag.ErrorMessage</label>
                            </div>
                            
                            <div id="passwordMessage"></div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <a href="">Forgot Password</a>
                            </div>
                            <button id="checkPassword" type="submit"  class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                        </form>
                         <p class="text-center mb-0">Already have an Account? <a href="/Login/Index">Sign In</a></p>
                    </div>
                    
                </div>
            </div>
        </div>

<script>
document.getElementById("checkPassword").addEventListener("click", function () {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmPassword").value;
    var message = document.getElementById("passwordMessage");

    if (password === confirmPassword) {
        message.innerHTML = "Passwords match!";
    } else {
        message.innerHTML = "Passwords do not match. Please try again.";
    }
});
</script>