@using web.DTOs.ApplicationUserDto
@using Azure.Core


<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke px-0">
            
            <h1>
                <a class="navbar-brand" href="/Default/Index">
                    <img style="height: 90px; width: 150px;" src="~/evh3.png" class="img-fluid radius-image" alt="image">
                    
                </a></h1>
            <!-- Hvis logoen er et bilde, aktiver dette
            <a class="navbar-brand" href="#index.html">
                <img src="image-path" alt="Din logo" title="Din logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Åpne/lukke navigasjon">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-lg-5 mr-auto">
                    <li class="nav-item @@home__active">
                        <a class="navbar-brand" href="/Default/Index"><span class="fa fa-home"></span> </a>
                    </li>
                    <li class="nav-item @@home__active">
                        <a class="nav-link" href="/Default/Index">Hjem <span class="sr-only">(nåværende)</span></a>
                    </li>
                    <li class="nav-item @@listing__active">
                        <a class="nav-link" href="/ProductDetails/Index">Annonser</a>
                    </li>
                    <li class="nav-item dropdown @@property__active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eiendom
                        </a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sider <span class="fa fa-angle-down"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item @@about__active" href="/About/Index">Om oss</a>
                            <a class="dropdown-item active" href="/Contact/Index">Kontakt oss</a>
                        </div>
                    </li>
                    <li class="nav-item  @@listing__active" id="admin">
                        <a class="nav-link" href="/Admin/Dashboard/Index">Admin</a>
                    </li>
                    
                </ul>
                <div class="top-quote mt-lg-0">
                    <a href="#buytheme" class="btn btn-style btn-primary"><span class="fa fa-home"></span> Legg til annonse</a>
                </div>
                <!--/søk-høyre-->
                <div class="search mx-3">
                    <input class="search_box" type="checkbox" id="search_box">
                    <label class="fa fa-search" for="search_box"></label>
                    <div class="search_form">
                        <form action="~/starter/error.html" method="GET">
                            <input type="text" placeholder="Søk"><input type="submit" value="søk">
                        </form>
                    </div>
                </div>
                <!--//søk-høyre-->
            </div>

            <!-- Bytt for lys og mørkt tema -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //Bytt for lys og mørkt tema -->
          
            
                <li class="nav-item" id="logoutLink">
                    <a class="nav-link" href="/Logout/Index">Logg Ut</a>
                </li>
                
                <li class="nav-item" id="loginLink">
                    <a class="nav-link" href="/Login/Index">Logg Inn</a>
                </li>

            
            
         @*   <li class="nav-item dropdown active">
                <a id="logoutLink" class="nav-link" href="/Logout/Index" style="display:none;">Logg Ut</a>
                
                
            </li>
            <li class="nav-item dropdown active">
               <a id="loginLink" class="nav-link" href="/Login/Index" style="display:none;">Logg Inn</a>
           </li>*@
        </nav>
    </div>
</header>

<script>

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
  
  // jwtToken değerini al
  var jwtToken = getCookie("JwtToken");
  console.log("jwtToken:", jwtToken); // jwtToken'ı konsola yazdır
  
  // Oturum açık mı kontrol et
  function isUserAuthenticated() {
      var isAuthenticated = jwtToken !== null && jwtToken !== '';
      console.log("isAuthenticated:", isAuthenticated); // isUserAuthenticated değerini konsola yazdır
      return isAuthenticated;
  }
  
  // Navbar bağlantılarını güncelle
  function updateNavbarLinks() {
      if (isUserAuthenticated()) {
          // Kullanıcı giriş yapmışsa, navbar'da logout düğmesini göster
          document.getElementById("logoutLink").style.display = "block"; // Logout linki görünür
          document.getElementById("loginLink").style.display = "none"; // Login linki gizli
      } else {
          // Kullanıcı giriş yapmamışsa, giriş düğmesini göster
          document.getElementById("logoutLink").style.display = "none"; // Logout linki gizli
          document.getElementById("loginLink").style.display = "block"; // Login linki görünür
      }
  }
  
  // Sayfa yüklendiğinde navbar bağlantılarını güncelle
  window.onload = function () {
      updateNavbarLinks();
      console.log("Navbar bağlantıları güncellendi.");
  };
  
  // Sayfa yüklendiğinde çalışacak olan kod
  window.onload = function() {
      // Oturum durumunu kontrol etmek için checkAuthentication fonksiyonunu çağır
      checkAuthentication();
        checkAdmin();
  };
  
  function checkAuthentication() {
      fetch('/Login/IsAuthenticated')
          .then(response => response.json())
          .then(data => {
              const logoutLink = document.getElementById('logoutLink');
              const loginLink = document.getElementById('loginLink');
               console.log("data:", data);
              
              if (data === true) {
                  // Kullanıcı oturumu açıksa "Logg Ut" bağlantısını göster, "Logg Inn" bağlantısını gizle
                  logoutLink.style.display = 'block';
                  loginLink.style.display = 'none';
                   console.log("data:", data);
              } else {
                  // Kullanıcı oturumu kapalıysa "Logg Ut" bağlantısını gizle, "Logg Inn" bağlantısını göster
                  logoutLink.style.display = 'none';
                  loginLink.style.display = 'block';
                   console.log(data);
              }
          });
  }
  
  
  function checkAdmin() {
        fetch('/Login/IsAdmin')
            .then(response => response.json())
            .then(data => {
                const admin = document.getElementById('admin');
                 console.log("data:", data);
                
                if (data === true) {
                    // Kullanıcı oturumu açıksa "Logg Ut" bağlantısını göster, "Logg Inn" bağlantısını gizle
                    admin.style.display = 'block';
                     console.log("data:", data);
                } else {
                    // Kullanıcı oturumu kapalıysa "Logg Ut" bağlantısını gizle, "Logg Inn" bağlantısını göster
                    admin.style.display = 'none';                  
                     console.log(data);
                }
            });
    }


</script>


