@model List<WEB.DTOs.Customer.ResultCustomerDto>

<section class="w3l-index3" id="about">
        <div class="midd-w3 py-5">
            <div class="container pb-lg-5 pb-md-4 pb-2">
                <div class="row">
                    <div class="col-lg-5 pr-lg-0">
                        <div class="w3l-left-img1">
                        </div>
                    </div>
                    <div class="col-lg-7 pl-lg-0">
                        <div class="w3l-right-info">
                            <h6 class="title-small">Våre kunder</h6>
                            <div class="client-grid">
                                <div class="client-title">
                                    <h3 class="title-big">Vi verdsetter kunderelasjoner</h3>
                                </div>

                                <div class="clients-info">
                                    <h4 class="title-big">Tusenvis av </h4>
                                    <p>Fornøyde Kunder</p>
                                </div>
                            </div>

                            <div class="w3l-clients" id="testimonials">
                                <div id="owl-demo1" class="owl-carousel owl-theme mt-4 pt-2 mb-4">
                                    
                                    @foreach (var item in Model)
                                    {
                                        <div class="item">
                                            <div class="testimonial-content">
                                                <div class="testimonial">
                                                    <div class="testi-des">
                                                        <div class="peopl align-self">
                                                            <image src="@item.CustomerImageUrl" style="width: 100px; height: 100px" alt="customer" class="img-fluid rounded-circle" />
                                                            <h4>@item.CustomerName</h4>
                                                            <p class="indentity">@item.CustomerTitle</p>
                                                        </div>
                                                    </div>
                                                    <blockquote>
                                                        <q>
                                                            @item.CustomerComment
                                                        </q>
                                                    </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>

                            <a href="#agents" class="btn btn-style btn-primary mt-5">Kontakt våre agenter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
