@model dynamic

<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-lg-5 py-md-4 py-2">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <p class="counter">@ViewBag.Salg</p>
                <span class="plus">+</span><br>
                <h3>Boliger til salgs</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <p class="counter">@ViewBag.Leie</p>
                <span class="plus">+</span><br>
                <h3>Boliger til leie</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-4">
                <p class="counter">100</p>
                <span class="plus">+</span><br>
                <h3>Nylig solgt</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid2 mt-md-0 mt-4">
                <p class="counter">1 </p>
                <span class="plus">k</span><br>
                <h3>Fornøyde Kunder </h3>
            </div>
        </div>
    </div>
</section>

